body {
    background-color: slateblue;
}

.mainBody {
    display: flex;
    
}

.giblePictures {
    height: 300px;
    width: 500px;
}

#gibleContainer {
    border: 2px solid blue;
    padding: 20px;
    flex-direction: column;
    margin-right: 10px;
    background-color: lightblue;
}

.buttons:hover {
    color: blue;
    background-color: red;
}